<div class="page basic">
    <div class="subtitle upper">
        Get Started
    </div>
    <img src="get-started-code.svg" class="img-full-width" alt="instructions to install ember and create an app">

    <div class="text-content">
        For free, full-length, official tutorials, visit: 
        <a class="subtitle upper" href="https://guides.emberjs.com">
             guides.emberjs.com
        </a>
    </div>

</div>