<div class="page basic">
    <div class="subtitle upper">
        Get Started
    </div>

    <div class="text-content">
        For full, official tutorials, visit 
        <a class="subtitle upper" href="https://guides.emberjs.com">
             guides.emberjs.com
        </a>
    </div>

</div>