<div class="page basic">
    <div class="subtitle upper">
        Deployment
    </div>

    <div class="text-content">
        <p>
            Yay, deploying to the cloud is sunshine and rainbows! Right?
        </p>
        <p>
            Whether it's your first deployment or you deploy every day,
            Ember has some built-in tools to help you out. You probably want to be
            focused on writing code instead.
        </p>
       <p>
        Continuous Integration/Continuous Deployment (aka CI/CD) is a strategy 
        some teams use to deploy code automatically when it is merged into their main branch.
           When you combine a solid testing suite with the cli's build tools
           and some community-built integrations for hosting,
           you get a path to CI/CD. 
       </p>
    </div>

</div>