<div class="page basic">
    <div class="subtitle upper">
       Development Roadmap
    </div>

    <div class="text-content">
        <p>
            Ember's direction and development are guided by the developers
            who use it. Whether you're a consultant, a startup dev, or 
            you work for a Fortune 500 company, you have a say.
        </p>
        <p>
            Major decisions are made through an RFC (Request for Comments) process.
             Community feedback and involvement are essential for rolling out
             new features or making changes to the API. 
             By working together, we consider the needs of
            apps of all sizes, and plan for sensible rollouts.
            Ember.js has found solutions to JavaScript churn and burn.
        </p>
         <p>
             The project follows strict semver, strives for easy updates,
             maintains LTS (Long Term Support) versions, and provides
             codemod tooling to automate syntax changes.
         </p>
        <p>
            The code you write today can be the same code you use next year.
        </p>
    </div>

</div>