<div class="page basic">
    <div class="subtitle upper">
        Components
    </div>

    <div class="text-content">
        <p>
            Components are reusable pieces of JavaScript code and markup
            that form the user interface. Here are some examples of
            features tha a developer might create a component for:
        </p>
        <p>
            (img of button, links, charts, layout, and more)
        </p>
        <p>
            Components in Ember render lighting-fast as data in your
            app changes. Ember has straightforward ways to organize
            components and connect them together, so that they can
            be independently changed and rearranged as your project
            requirements shift.
        </p>
    </div>

</div>