<div class="page basic">
    <div class="subtitle upper">
        Routing
    </div>

    <div class="text-content">
        <p>
            Have you ever used an app or site where a refresh makes you
            lose your place? URLs are important! Ember comes with some tools
            out of the box for routing. You can create content
            that users can easily bookmark, share, and come back to later.
        </p>
        <p>
            Routing consists of three parts:
        </p>
        <div class="grid">
            <div class="left">
                    <ul>
                        <li>Router - listing the urls that should be avalilable</li>
                        <li>Template - what the user sees when they visit a route, which
                            often includes Components
                        </li>
                        <li>Route JavaScript - functions to load data from APIs</li>
                    </ul>
            </div>
            <img src="roadsign.png" alt="roadsign" class="right">
        </div>
        <p>
            Some examples of routes might be a route that has a full list of blog articles
            and a route for each article. New routes can be created straight from
            the data. It's easy to automatically load the correct article based on the
            url.
        </p>
    </div>

</div>