<div class="page what-is-ember">
    <div class="subtitle upper">
        Routing
    </div>

    <div class="text-content">
        <p>
            Have you ever used an app or site where a refresh makes you
            lose your place? URLs are important! Ember comes with some tools
            out of the box for routing, so that you can create content
            that users can easily bookmark, share, and come back to later.
        </p>
        <p>
            Routing consists of three parts:
            <ul>
                <li>Router - listing the urls that should be avalilable</li>
                <li>Template - what the user sees when they visit a route, which
                    often includes Components
                </li>
                <li>Route JavaScript - functions to load data from an API request, if needed</li>
            </ul>
        </p>
        <p>
            Some examples of routes might be a route that has a full list of blog articles
            and a route for each article. New routes can be created straight from
            the data. So, if you have 30 blog articles, you just define one route
            that loads the data based on the id in the URL.
        </p>
    </div>

</div>