<div class="page basic">
    <div class="subtitle upper">
        Data
    </div>

    <div class="text-content">
        <p>
            Ember works with data sources of all different kinds:
        </p>
        <ul>
            <li>REST APIs</li>
            <li>GraphQL/Apollo</li>
            <li>Websockets</li>
            <li>JSONAPI</li>
            <li>...and more!</li>
        </ul>
        <p>
            Developers have the option of using Ember Data to make
            API requests. Ember Data is an official library that
            includes a local data store, serializers that turn 
            data into searchable objects, async
            relationship loading tools, and some helpful
            wrappers for making requests.
        </p>
        <p>
            Ember is also an ideal candidate for building
            Progressive Web Apps (PWAs), which are web apps that look
            and feel like native mobile apps. They often allow for use 
            online, offline, and over shaky internet connections.
        </p>
    </div>

</div>