<div class="page basic">
    <div class="subtitle upper">
        Deployment
    </div>

    <div class="text-content">
        <p>
            Yay, deploying to the cloud is sunshine and rainbows! Right?
        </p>
        <p>
            Whether it's your first deployment ever or you deploy every day,
            Ember has tools to help you out. There are
            many community plugins for deploying to different
            platforms, including Heroku, AWS S3 or Cloudfront,
            Redis, GitHub pages, and more. It can be as simple as
            filling in some credentials and typing "ember deploy"
        </p>
       <p>
        Continuous Integration/Continuous Deployment (aka CI/CD) is a common strategy 
        some teams use to deploy code automatically when it is merged into their main branch.
           When you combine a solid testing suite with the CLI,
           you get a clear path to CI/CD too. 
       </p>
    </div>

</div>