<div class="page basic">
    <div class="subtitle upper">
       Development Roadmap
    </div>

    <div class="text-content">
        <p>
            Ember's direction and development are guided by the developers
            who use it. Whether you're a consultant, a startup dev, or 
            you work for a Fortune 500 company, you have a say.
        </p>
        <p>
            Major decisions are made through an RFC (Request for Comments) process,
            where community feedback determines which features get built or change.
        </p>
         <p>
             The project follows strict semver, strives for easy updates,
             maintains LTS (Long Term Support) versions, and provides
             codemod tooling to automate syntax changes.
         </p>
        <p>
            Ember.js has found solutions to JavaScript churn and burn.
            The code you write today can be the same code you use next year.
        </p>
        <a class="subtitle upper" href="https://emberjs.com/blog">
             emberjs.com/blog/
        </a>
    </div>

</div>