<div class="page basic">
    <div class="subtitle upper">
       Testing
    </div>

    <div class="text-content">
        <p>
            A maintainable app needs tests, so Ember makes testing as easy as possible.
        </p>
        <div class="grid">
            <div class="left">
                <p>
                    `ember test` builds the app and runs tests in the browsers of your choice.
                    For example, you can watch the tests running right in the
                    browser and pause them to inspect the DOM. You could also
                    run them in headless browsers for maximum speed.
                </p>
            </div>
            <div class="right img-container-icecream">
                <img src="icecream.png" alt="icecream" class="img-icecream">
            </div>

        </div>
        <p>
            Tests come in 3 flavors: rendering tests for UI and interactions,
            unit tests for isolated functionality, and container tests
            for the in-between.
        </p>
        <p>
           By default, Ember uses QUnit, and has full official support
           for Mocha. You can use your own testing tools if you'd like.
        </p>
    </div>

</div>