<div class="page basic">
    <div class="subtitle upper">
       Development Roadmap
    </div>

    <div class="text-content">
        <p>
            Ember's direction and development are guided by the developers
            who use it, not any one company. 
        </p>
        <p>
            Decisions are made through an RFC (Request for Comments) process.
            Whether you're a consultant, a startup dev, or you work for a
            Fortune 500 company, you have a say in features and deprecations.
             Community feedback and involvement are core values of the framework. 
             By working together, we consider the needs of
            apps of all sizes, and plan for sensible rollouts of new features.
        </p>
         <p>
             Ember is proud to follow strict semver, strives for easy updates,
             maintains LTS (Long Term Support) versions, and provides
             codemod tooling to automate syntax changes.
         </p>
        <p>
            The code you write today can be the same code you use next year.
        </p>
    </div>

</div>