<div class="page basic">
    <div class="subtitle upper">
        Community
    </div>

    <div class="text-content">
        <p>
        Since so many developers use the same tools to handle the
        infrastructure of their apps, it's easy to get help and advice.
        </p>

        <p>
            <a href="https://discordapp.com/invite/zT3asNS">
             Discord (discordapp.com/invite/zT3asNS)
            </a> - Check out the #help channel to get answers to your
            questions, day or night
        </p>
        <p>
            <a href="https://emberjs.com/community/meetups/">
               Meetups (emberjs.com/community/meetups/)
            </a> - Join other devs in major cities throughout the world
        </p>
        <p>
            <a href="https://discuss.emberjs.com/">Discussion Forum (discuss.emberjs.com/)</a>
            - For questions that need more context or input than chat
        </p>
        <p>
            For more resources, visit:
        </p>
        <a class="subtitle upper" href="https://learn.emberjs.com">learn.emberjs.com</a>
    </div>

</div>
