<div class="page basic">
    <div class="subtitle upper">
        Dependencies
    </div>

    <div class="text-content">
        There are thousands of libraries that are designed especially for 
        Ember. We call them addons. Many of your favorite JavaScript
        libraries are available as addons:
            <ul>
                <li>D3</li>
                <li>Bootstrap</li>
                <li>lodash</li>
                <li>moment</li>
                <li>GraphQL adapters</li>
                <li>request</li>
            </ul>
        <p>...and more! Some libraries are unique to Ember, like
            UI components or tools for managing asynchronous
            interactions.  
            You can also use regular npm packages, though using
            addons is often more convenient.
        </p>
        <p>
            To see what's available, rankings, and reviews, visit
            </p>
            <a class="subtitle upper" href="https://emberobserver.com" target="_blank">
            EmberObserver.com
            </a>
             
    </div>

</div>