<div class="page basic">
    <div class="subtitle upper">
        Command Line Tools
    </div>

    <div class="text-content">
        The ember-cli is a command line tool that helps you do things like:
        <ul>
            <li>
                Create your app
            </li>
            <li>
                Generate new files including boilerplate
            </li>
            <li>
                Install dependencies
            </li>
            <li>
                Serve the app locally
            </li>
            <li>
                Build for production and deploy
            </li>
            <li>
                Run tests
            </li>
        </ul>
        <p>
            All this functionality comes ready to go with
            zero configuration (but if you <i>like</i> configuring 
            things by hand, you still can :P)
        </p>
    </div>

</div>