<div class="page basic">
  <div class="subtitle upper">
    What is Ember.js?
  </div>

  <div class="text-content">
    <p>
      Ember.js is a front-end JavaScript framwork that provides shared solutions
      to tough problems, where development is guided by the community rather
      than any one company.
    </p>
    <p>
      To build for production, you'll need a whole lot more than view layer tools!
      Ember takes care of the hard parts so you can ship new features quickly:
    </p>
      <div class="grid">
        <div class="left">
            <ul>
            <li>
                zero config package management
            </li>
            <li>
                deployment pipelines
            </li>
            <li>
                testing framework
            </li>
            <li>
                data fetching, serialization, and local storage
            </li>
            <li>
                command line tools for building and deploying
            </li>
            </ul>
        </div>
        <div class="right img-container-battery">
            <img src="battery.png" alt="battery" class="img-battery">
        </div>
      </div>
    <div>
            Users get to concentrate on the fun part of building web apps
            - the code, user interface, and interactions.
    </div>
  </div>

</div>
