<div class="page what-is-ember">
  <div class="subtitle upper">
    What is Ember.js?
  </div>

  <div class="text-content">
    <p>
      Ember.js is a front end javascript framwork that is designed with developer experience and productivity in mind.
     Its development is guided by its users, not the interests of any one company.
    </p>
    <p>
      To build production apps, you'll need a whole lot more than view layer tools! 
      So, Ember takes care of the hard parts so you can ship new features quickly:
    </p>
      <div class="grid">
        <div class="left">
            <ul>
            <li>
                zero config package management
            </li>
            <li>
                deployment pipelines
            </li>
            <li>
                testing framework
            </li>
            <li>
                data fetching, serialization, and local storage
            </li>
            <li>
                command line tools for building and deploying
            </li>
            </ul>
        </div>
        <div class="right">
            <img src="battery.png" alt="battery">
        </div>
      </div>
  </div>

</div>