<div class="container">
    <div class="cover page">
        <div class="subtitle upper">
             The Shortest
        </div>
        <div class="cover-logo">
            <img src="ember.png" alt="Ember.js logo">
        </div>
        <div class="subtitle lower">
            Book
        </div>
        <div class="grid">
            <div class="description">
                Everything you need to get started with a front end framework for ambitious developers. 
                Now, with batteries included!
            </div>
            <div class="cover-tomster">
                <img class="top" src="tomster-head.png" alt="Tomster head">
                <img class="bottom" src="red-burst.png" aria-hidden="">
            </div>
        </div>
    </div>
</div>